/**
  Tutorial : Comments System with Reply Usong jQuery & Ajax
  Author: Amine Kacem
  Author URI: http://www.webcodo.com
*/

/* the comments container  */

.cmt-container-story {
    float: left;
    width: 100%;
    height: auto;
    min-height: 30px;
    margin-bottom: 10px;
}

.cmt-container i {
    color: blue;
    line-height: 13px;
}

.cmt-container .sub {
    margin-left: 43px;
}

.cmt-item {
    height: auto;
    min-height: 50px;
    padding: 10px 10px 0 10px;
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
    margin-left: 16px;
}

    .cmt-item .icon {
        margin: 10px 20px 0 -28px;
        width: 32px;
        height: 32px;
        float: left;
        background: url(img/comment/comment.png) no-repeat top left;
    }
    .cmt-item .text {
        display:block;
    }

.cmt-item-detail {
    padding-left: 25px;
    font-size: 0.9em !important;
    margin-bottom: 10px;
}

    .cmt-item-detail .note {
      
        color: blue;
    }


    .cmt-item-detail h5 {
        display: inline;
        font-size: 14px;
        color: #c00;
        margin: 0 5px 0 0;
    }

    .cmt-item-detail .date {
        display: inline;
        font-size: 0.8em;
        color: #ccc;
    }

    .cmt-item-detail p {
        width: auto;
        margin: 0px;
        color: #4e5665;
    }

    .cmt-item-detail a.cmt-rep-btn {
       
        background: url(img/comment/reply.gif) no-repeat top left;
        display: inline-block;
        width: 13px;
        height: 13px;
        cursor: pointer;
        margin-left: 5px;
    }

    .cmt-item-detail a.liked {
        pointer-events: none;
        cursor: default;
        color: #848484 !important;
        background: url(img/comment/liked.png) no-repeat top right !important;
    }

    .cmt-item-detail a.cmt-like-btn {
       
        background: url(img/comment/like.png) no-repeat top right;
        display: inline-block;
        line-height: 13px;
        cursor: pointer;
        padding-right: 15px;
        color: #136791;
        font-weight: bold;
        margin-left:10px;
    }

a.cmt-more-btn {
    text-align: center;
    display: block;
    margin-top: -2px;
    background-color:#eee;
    border:solid 1px #ccc;
    padding:8px;
    color:#333;
    cursor:pointer;
}

.cmt-new-btn {
    width: 100%;
    background-color: #1C7AA9;
    border: 1px solid #e1dfdf;
    cursor: text;
    color: #fff;
    padding: 10px;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

    .cmt-new-btn span {
        display: inline;
        margin-left: 10px;
        line-height: 30px;
        color: #4e5665;
    }

.cmt-new-form {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    display: none;
    margin-bottom: 10px;
    background: #f8f8f8;
    border-bottom: solid 2px #990700;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    z-index: 6;
}

    .cmt-new-form .inner-wrap {
        margin-bottom: 5px;
    }

    .cmt-new-form .error {
        color: #c00;
    }

    .cmt-new-form .btn {
        padding: 5px 15px 5px 15px !important;
        border: solid 1px rgba(0,0,0,0.3);
        background-color: rgba(0, 0, 0, 0.075);
        font-weight: bold;
    }

.cmt-comment { /* textarea */
    width: 100%;
    height: auto;
    min-height: 70px;
    box-sizing: border-box;
    padding: 5px;
    -moz-box-sizing: border-box; /* Firefox */
}

.cmt-new-form input[type=text], .cmt-new-form input[type=email] {
    margin-right: 5px;
    padding: 5px;
    width: 50%;
}

.cmt-container textarea:focus, .new-com-cnt input[type="text"]:focus {
   
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.4);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.4);
}

.cmt-collapse a.collapse-btn {
    text-decoration: none;
    outline: none;
    width: 11px;
    height: 11px;
    display: inline-block;
}

.cmt-collapse a.expand-icon {
    background: url(img/comment/expand.png) no-repeat top left;
}

.cmt-collapse a.collapse-icon {
    background: url(img/comment/collapse.png) no-repeat top left;
}

.cmt-collapse .cmt-collapse-hidden span {
    display: none;
}


.cmt-collapse a.cmt-collapse-btn {
    text-decoration: none;
    outline: none;
    width: 11px;
    height: 11px;
    display: inline-block;
}
