body {
    /*background: #eadfdf;*/
/*    background: #999999;*/
/*background: #666600;*/
/*background: #E1E1E1;*/
/*background: #EAEAEA;*/
}
.navbar-fixed-top{
     background-color: #CE4B27;
/*     background-color: #AC0713;*/
      
}
#header {
	padding: 20px;
	/*background: gold;*/
}

#content {
       /*width: 95%;*/
       /*margin: 20px auto;*/
      
       /*background: #FFFFFF;*/
       /*background: #fffff2;*/
       /*background: #F7F6F3;*/
	
}

#footer {
background-color: #CE4B27;
	padding: 20px;
}

.btn {
    border-radius: 0;
}

footer#page_footer{
      background-color: #CE4B27;
margin-top: 40px;
margin-bottom: 0;
padding: 0;
clear: both;
width: 100%;
display: block;
text-align: center;

}

footer#page_footer p{
    margin:0;
    padding:0;
    height: 30px;
   
    text-align: center;
    /*background-color: #DD4814;*/
    background-color: #CE4B27;
    color: #FDFDFD;
    line-height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.form-control{
    border-radius: 0;
}