body {
    /*background: #eadfdf;*/
/*    background: #999999;*/
background: #666600;
}

#header {
	padding: 20px;
	background: gold;
}

#content {
       width: 90%;
       margin-left: 5%;
       margin-right: 5%;
       background: #ffffff;
	
}

#footer {
	background: green;
	padding: 20px;
}

.btn {
    border-radius: 0;
}
