	html
	{
        margin: 0;
		}
    A
	{  
		color: #275a94;
		text-decoration: none;
		font: 500 16px /20px "Times New Roman" , Times, serif;
	}
    A:HOVER
	{ 
        text-decoration:underline;
	}
    body
        {
        margin:0 auto;
		text-decoration: none;
		font: 500 16px /20px "Times New Roman" , Times, serif;
		text-align:left;
        color:#3a3b3c;
        background:#1b3379 url('../Images/1/bg.jpg') no-repeat center top;
        line-height:18px;
        }
    .text-search
        {
        width:190px;
        background:#fff;
        border:1px solid #c0c0c0;
        padding:2px;
        height:18px;
         }    
      .head-bg
      {
          width:996px;
          }   
       .menu-bg-head
     {
        background: url('../Images/1/images/index_04.jpg') repeat-x top left;
        width:auto;
        height:37px;
         }   
      .bg-head2   
      {
        background: url('../Images/1/images/index_09.jpg') repeat-x top left;
        width:996px;
        height:31px;
         }    
        .head-ngay
         {
             width:auto;
             font-style:italic;
             padding:3px 0 0 12px;
             }
        .home-left
         {
             height:400px; width:735px; float:left; padding-left:7px; padding-top:2px;
             }
         .home-right
         {
             height:400px; width:254px; float:right; padding:2px 0 0 0; background:#fff;
             }
        .img-2
{
    width:80px;
    height:60px;
    border:0;
    }
.img-1
{
    width:435px;
    height:300px;
    border:0;
    }  
  .scroll-pane
        {
            width: auto;
            height: 340px;
            overflow: auto;
            padding-left:0px;
            padding-top: 5px;
        }   
    .t-home1
      {
        color:#ff0003;
        font-size:14px;
        font-weight:bold;
        text-transform:uppercase;
        text-shadow: 0.1em 0.1em 0.1em #a09797;
        background: url('../Images/1/images/index_17.jpg') no-repeat bottom left;
        text-align:left;
        height:24px;
		width:240px;
		padding:8px 0 0 10px;
        }   
     .t-home2
		{
        background:#fff url('../Images/1/images/index_19.jpg') repeat-x top left;
        height:auto;
		width:243px;
        padding:2px 5px 1px 2px;
        text-align:left;
        }
        .t-home2 a
		{
        color:#2c88bd;
        }
        .t-home2 a:hover
		{
        color:#0970e3;
        }
        
        ul.m-home {list-style:none; margin:0; padding:0; width:auto;}
        ul.m-home li {display:block; position:relative; margin:0; height:auto; width:auto;}
        ul.m-home a {display:block; text-decoration:none; padding:4px 0 0 4px; color:#0565a9; font: 500 16px /20px "Times New Roman" , Times, serif; border-bottom:1px solid #eee;}
        ul.m-home a:hover { color:#f81414;}

        ul.link {list-style:none; margin:0; padding:0; width:auto;}
        ul.link li {display:block; position:relative; margin:0; height:auto; width:auto; text-align:left;}
        ul.link a {display:block; text-decoration:none; padding:4px 0 0 4px; color:#0565a9; font: 500 16px /20px "Times New Roman" , Times, serif; border-bottom:1px solid #eee;}
        ul.link a:hover { color:#f81414;}

        .qc-home1
        {padding:5px 0 5px 5px; background:#9cecfa;}



        .l-home3
        { width:556px; float:left; vertical-align:top; height:auto;}
        .r-home3
        { width:440px; float:right; vertical-align:top; height:auto; padding-top:2px;}
        
        .t-home41
      {
        background: url('../Images/1/images/index_22.jpg') no-repeat bottom left;
        height:40px;
		width:547px;
		padding:0;
        padding:6px 7px 2px 6px;
        }   
      .t-home41 a:hover
      {
        text-decoration:none; 
        color:#ff0000;
        }   
        
     .t-home42
		{
        background:#fff url('../Images/1/images/index_26.jpg') repeat-y top left;
        height:auto;
		width:526px;
        padding:2px 15px 1px 15px;
        text-align:left;
        }
        .t-home43
      {
        background: url('../Images/1/images/index_27.jpg') no-repeat top left;
        height:15px;
		width:556px;
		padding:0;
        }  
        
        .Img3-TieuDiem-Home {
            width: 157px;
            height: 110px;
            border: 1px solid #c0c0c0;
            margin: 1px 5px 5px 0;
            float: left;
            }
        .t-home42 h2 {
            display: block;
            font-size: 14px;
            margin:0;
            padding:0;
            }
          .t-home41 h2 {
            display: block;
            font-size: 14px;
            text-transform:uppercase;
            color:#fff;
            margin:0;
            padding:0;
            }  
            
         .t-home41 .tieude {
            background: url('../Images/1/s.png') no-repeat top right;
            padding: 6px 22px 1px 8px;
            font-size: 14px;
            height:30px;
            text-align:left;
            width:auto;
            float:left;

            }
         .t-home41 .cate-home
         {float:right; width:auto; padding:6px 3px 0 0; text-align:right; font-size:11px;}
         .t-home41  .cate-home a {
            font-size: 14px;
            margin:0;
            padding:0;
            text-transform:none;
            color:#275a94;
            }  
         .t-home41  .cate-home a:hover {
            text-decoration:underline;
            }
         .qc-l-home1
         { width:260px; height:auto; float:left; vertical-align:top; text-align:left; background:#fff; padding-top:5px;}
         .qc-l-home2
         { width:178px; height:auto; float:right; vertical-align:top; text-align:left; padding-left:2px;}
         .qc-l-r1
         { width:260px; height:auto; float:left; vertical-align:top; text-align:left; padding-top:5px;}
         .qc-l-r2
         { width:178px; height:auto; float:right; vertical-align:top; text-align:left; padding-left:2px; padding-top:5px;}

        .img-home-album {
            width: 72px;
            height: 52px;
            margin: 2px;
            border: 1px solid #8eb98c;
            }
            
         .tm1
	    {  
			background: url('../Images/1/images/index_29.jpg') no-repeat top left;
			width:260px;
			height:40px;
			color:Red;
			text-transform:uppercase;
			text-align:center;
			padding-top:5px;
	    }           
     .tm2
	    {  
            height:auto;
			width:260px;
            padding:10px 10px 3px 10px;
			background: url('../Images/1/images/index_30.jpg') repeat-y top left;
			text-align:center;
	    }  
	    .tm3
	    {  
            height:13px;
			width:260px;
			background: url('../Images/1/images/index_32.jpg') no-repeat top left;
	    } 
	    
	    .tm12
	    {  
			background: url('../Images/1/images/index2_08.jpg') no-repeat top left;
			width:260px;
			height:34px;
			color:Red;
			text-transform:uppercase;
			text-align:center;
			padding-top:5px;
	    }           
     .tm22
	    {  
            height:auto;
			width:260px;
            padding:10px 10px 3px 10px;
			background: url('../Images/1/images/index2_10.jpg') repeat-y top left;
			text-align:center;
	    }  
	    .tm32
	    {  
            height:13px;
			width:260px;
			background: url('../Images/1/images/index2_13.jpg') no-repeat top left;
	    } 
	    
     .text-box
        {
            padding:3px;
            border:1px solid #abc0c4;
            }   
      .menu-f
      {
            height:38px;
			width:996px;
			background: url('../Images/1/images/index_40.jpg') repeat-x top left;
          }
      .footer
        {
        color: #2b2f3a;
		text-decoration: none;
		FONT-SIZE: 14px;
        padding:0;
        text-align:left;
        width:996px;
        height:206px;
        vertical-align:top;
        background:#c6ecfe url('../Images/1/images/index_42.jpg') no-repeat top left;
        }
        .footer a
        {
        color: #2b2f3a;
        }
      .body-main
      { width:556px; vertical-align:top;}
      .body-r-trong
      { width:440px; vertical-align:top;}      
      
      
      .bg-t1
      {
			background: url('../Images/1/images/index2_04.jpg') no-repeat top left;
			width:556px;
			height:10px;
          }
      .bg-t2
	    {  
            height:auto;
			width:556px;
            padding:10px 15px 3px 15px;
			background: url('../Images/1/images/index2_06.jpg') repeat-y top left;
			text-align:justify;
	    }  
	    .bg-t3
	    {  
            height:10px;
			width:556px;
			background: url('../Images/1/images/index2_12.jpg') no-repeat top left;
	    } 
      .bg-t2 h2
	    {  
			padding:10px 0 10px 0;
			margin:0;
			font-size:18px;
			color:#0178b9;
	    }  
       .tieude
		{
        color:#ff0000;
        font-size:14px;
        font-weight:bold;
        height:26px;
        text-transform:uppercase;
        border-bottom:1px solid #c0c0c0;
        }
       .tieude a
		{
        color:#ff0000;
        font-size:14px;
        font-weight:bold;
        text-transform:uppercase;
        }
      
       .body-main2
      { width:816px; vertical-align:top;}
      .body-r-trong2
      { width:180px; vertical-align:top;}      

      .bg-tb1
      {
			background: url('../Images/1/images/index2_14.jpg') no-repeat top left;
			width:816px;
			height:9px;
          }
      .bg-tb2
	    {  
            height:auto;
			width:816px;
            padding:10px 15px 3px 15px;
			background: url('../Images/1/images/index2_16.jpg') repeat-y top left;
			text-align:justify;
	    }  
	    .bg-tb3
	    {  
            height:11px;
			width:816px;
			background: url('../Images/1/images/index2_18.jpg') no-repeat top left;
	    } 
      .bg-tb2 h2
	    {  
			padding:10px 0 10px 0;
			margin:0;
			font-size:18px;
			color:#0178b9;
	    }  
      .img-album {
height: 150px;
width: 200px;
border: 5px solid #fff;
}      
       .img-album2 
       {
width: 240px;
height: 180px;
border: 5px solid #fff;
}    

.qc-trong1
{
    padding-left:1px;
    }
.qc-trong1 img
{
  border:0;
  width:256px;
  height:auto;
    }
.qc-l-r2 img
{
  border:0;
  width:173px;
  height:auto;
    }
.qc-l-home2 img
   {
  border:0;
  width:173px;
  height:auto;
    } 
    
.bg-t2 img
   {
  border:0;
  max-width:500px;
  height:auto;
  display: block;
    margin: 0 auto;
    } 
        
  .nut-s
  {  
            height:28px;
			width:99px;
			border:0;
			background: url('../Images/1/n.png') no-repeat top left;
			color:White;
			cursor:pointer;
			text-transform:uppercase;
			padding-bottom:3px;
	    } 
  
           
/* content */
		
	ul#items{		
		margin:0;
		height:368px;
		width:auto;
		overflow:hidden;
		padding:0;
		}
	ul#items li{
		list-style:none;
		float:left;
		width:240px;
		height:auto;
		overflow:hidden;
		margin:0;
		padding:0;
		text-align:left;
		}
	
	ul#items2{		
		margin:0;
		height:368px;
		width:auto;
		overflow:hidden;
		padding:0;
		}
	ul#items2 li{
		list-style:none;
		float:left;
		width:240px;
		height:auto;
		overflow:hidden;
		margin:0;
		padding:0;
		text-align:left;
		}	
		
		
	ol#pagination
	{overflow:hidden;
	    margin:3px;
		height:auto;
		width:auto;
		overflow:hidden;
		padding:0;
	 }
	ol#pagination li{
		float:left;
		list-style:none;
		cursor:pointer;
		margin:3px;
		}
	ol#pagination li.current{color:#f00;font-weight:bold;}
	
	ol#pagination2
	{overflow:hidden;
	    margin:3px;
		height:auto;
		width:auto;
		overflow:hidden;
		padding:0;
	 }
	ol#pagination2 li{
		float:left;
		list-style:none;
		cursor:pointer;
		margin:3px;
		}
	ol#pagination2 li.current{color:#f00;font-weight:bold;}
	
/* // content */
       .img-news    
	{
        width:140px;
        height:auto;
        border:0;
        margin:0;
        }
       
      .Head-News
    {
        padding:1px 0 5px 0;
    }
    .Body-News
    {
        padding:auto;
    }
    .Foot-News
    {
        padding:1px 0 1px 30px;
        text-align:right;
        border-bottom:1px dotted #cccccc;
    }
   .Head-News h2
    {
        padding:0;
        margin:0;
        font-size:16px;
    }
  
  
     /*Head & Menu*/

.Code-News
{
        color: #0a0d30;
		text-decoration: none;
		font-weight:bold;    
}     
   
 
	optgroup { /* Change font style and text alignment */
    font-style:italic;
    font-size:10px;
    }
    option { /* Change font style and text alignment */
    padding-left: 7px;
    }
    
     thead, table, th, td {border-collapse:collapse; border-color:#ccc;}
    #DetailPro td, th
    {
        padding:3px;
        } 
       
       
         
         
         
         
         
         
         
         
         
         
         
             
       
      
       
	    
	    
	    
	    
        
	    
        
        
    
     
        
        .bg-foot a
        {
        color: #666;
        }
        .bg-foot a:Hover
        {
            text-decoration:underline;
            color:#cc3300;
        }
        .Cart
        {
        	color:Yellow;
        	}
        .Header
	    {  
            width: 935px;
            height: 129px;
	    }
        .BG-Menu
	    {  
        background: #fff url('../Images/1/images/index_08.jpg') repeat-x top left;
        height:36px;
        padding-left:40px;
	    }
	    
	   
	    
        .Menu-Left
	{  
        padding-top:8px;
		text-align:left;
		width:215px;
	}
	.Menu-Right
	{  
		text-align:left;
		width:781px;
		padding:8px 0 8px 0;
	}
	

.water
    {
         font-family: Arial, sans-serif;
         color:#908989;
         border:1px solid #908989;
    } 
    .img-thumuc
    {
        width:150px;
        height:113px;
        border:0;
        margin:0;
        }
    
    .Img3-About
    {
        width:300px;
        height:auto;
        border:3px double #D6D8D0;
        margin:0 5px 3px 0;
        float:left;
        }
            
fieldset { border: 1px solid #90969b; }

.fieldset {
  width: 100%;
  position: relative;
  padding: 2.5em 1em 0.5em 1em;
  border: 1px solid #90969b;
  background: #F8F8F8;
  font-size: 90%;
}

legend span {
  position: absolute;
  width: 29em;
  top: 0.5em; left: 1em;
  color: #000;
  font-weight: bold;
}   
          
          
     
/*         
        
 .Grid-Style
 {
 	padding-left:5px;
 	}   
 .GiaBan
     {
        FONT-SIZE: 13px;
        color:Red;
        font-weight:bold;
     }
        
.TinhTrangHangCon
     {
        FONT-SIZE: 10px;
        color:Red;
     }
.TinhTrangHangHet
     {
        FONT-SIZE: 10px;
        color:Gray;
     }  
.TinhTrangHang
     {
        FONT-SIZE: 12px;
        color:Red;
     } 
.TinhTrangHetHang
     {
        FONT-SIZE: 12px;
        color:Gray;
     }
        
.TieuDeSP
     {
        FONT-SIZE: 11px;
		FONT-FAMILY: Arial, Verdana;
		font-weight: bold;
		height:29px;
		color:Red;
		text-transform:uppercase;
		padding-left:5px;
     }
     .TieuDeSP:HOVER
     {
		color:#8C3646;
     }
     .CanhNgoaiSP
     {
        padding-bottom: 6px;
        border: 1px solid #c0c0c0;
     }
     .CategorySP
     {
        border-bottom: 1px solid #c0c0c0;
        padding: 5px;
     }    
    .CanhLe
     {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
     }
ul#slider {
    width: 677px;
    height: 360px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#slider li {
    float: left;
    position: relative;
}
ul#slider li img {
    width: 671px;
    height: 354px;
    position: relative;
	 border:3px solid #f58220; 
}
ul#slider li h3{
    margin:0;
    color:#ff7200;
}
ul#slider li div {
    position: absolute;
    width: 98%;
    background-color: #3f3838;
    color: #fff;
    left: 0;
    padding: 10px;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}
.Khung-SuuTap
{
	border-bottom:1px dotted #c0c0c0; height:235px; padding:2px;
	}
.Khung-SuuTap h3,p
{
	 margin:3px;
	}
.Khung-SuuTap img
{
	 margin:0;
	 width:300px;
	 height:160px;
	 border:1px solid #f58220; 
	}
	
ul.menu3 * {margin:0; padding:0}
ul.menu3 {list-style:none; margin:0; padding:0; width:200px;}
ul.menu3 li {display:block; position:relative; float:left; margin:0; padding:0; height:22px; width:200px;}
ul.menu3 a {display:block; text-decoration:none; padding:2px 0 0 2px; color:#0565a9; font-size:12px; border-bottom:1px solid #d7dce3;}
ul.menu3 a:hover { color:#f81414;}



ul.menu4 * {margin:0; padding:0}
ul.menu4 {list-style:none; margin:0; padding:0; width:190px;}
ul.menu4 li {display:block; position:relative; float:left; margin:0; padding:0; height:29px; width:257px; color:#000; background: url('../Images/1/images/index_20.png') no-repeat top left;}
*html ul.menu4 li
{
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://vimatt.vn/Images/1/images/index_20.png',sizingMethod='scale');
}

ul.menu4 a {display:block; text-decoration:none; padding:5px 0 0 40px;}
ul.menu4 .Title { text-decoration:none; font-weight:bold; font-family:Arial; background: url('../Images/1/images/s_25.gif') no-repeat top -10px;}
*html ul.menu4 .Title
{
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://vimatt.vn/Images/1/images/s_25.gif',sizingMethod='scale');
}

ul.menu4 .Title a { color:#fdfed2;}
ul.menu4 .Link { text-decoration:none; font-weight:bold; font-family:Arial; text-align:left;}
ul.menu4 .Link a { color:#a67f07;}
ul.menu4 a:hover { color:#ee820e;}
ul.menu4 .Cerrent {color:#0b54c2; text-decoration:none; font-weight:bold; font-family:Arial; font-size:13px;}
.boxgrid{ 
				width: 170px; 
				height: 155px; 
				margin:3px; 
				float:left; 
				border: solid 1px #c0c0c0; 
				text-align:center;
				padding-left:3px;
				padding-bottom:3px;
			}
.boxgrid3{ 
				width: 155px; 
				height: 140px; 
				margin:3px; 
				float:left; 
				border: solid 1px #c0c0c0; 
				text-align:center;
				padding-left:3px;
				padding-bottom:3px;
			}
.boxgridCate{ 
				width: 240px; 
				height: 120px; 
				margin:3px; 
				float:left; 
				border: solid 1px #c0c0c0; 
				text-align:center;
				padding-left:3px;
				padding-bottom:3px;
				text-transform:uppercase;
			}


CSS classes for the DataList that provides the product listing 
			.boxgrid span{margin: 1px 4px 0 4px; color:#0859ee; font:12pt Arial, sans-serif; font-weight: bold;  }
			
			.boxgrid{ 
				width: 316px; 
				height: 245px; 
				margin:0; 
				float:left; 
				border: solid 1px #c98751; 
				overflow: hidden; 
				position: relative; 
			}
				.boxgrid img{ 
					position: absolute; 
					top: 0; 
					left: 0; 
					border: 0; 
					width:320px;
				}
				.boxgrid p{ 
					padding: 0 3px 0 3px; 
					color:#070401; 
					font:11px Arial, sans-serif; 
				}
				
			.boxcaption{ 
				float: left; 
				top:220px;
				position: absolute; 
				background: #bac0c9; 
				height: 100px; 
				width: 100%; 
				opacity: .8; 
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
 				*/
 				
  /*menu Right*/

.urbangreymenu {
text-decoration:none; text-align:left;
height:29px;
width: 556px; /*width of menu*/
}

.urbangreymenu ul li{
text-decoration:none; text-align:left;
height:29px;
list-style:none;
float:left;
display:block;
padding:0 20px;
}
.urbangreymenu ul li a{
text-transform:uppercase;
font-size:11px;
color:#d2d4db;
}
/* CSS classes for the DataList that provides the product listing */ 		

/* CSS classes for the DataList that provides the product listing */
/*GridViewCSS White Chrome Style*/
/* CSS classes for the DataList that provides the product listing */
/*GridViewCSS White Chrome Style*/
.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    background:#fff url('HeaderWhiteChrome.jpg');
    background-position: center;
    background-repeat:repeat-x;
}
.HeaderStyle th
{
    padding:3px;
    color: #333;
    text-align:left;
    border:1px solid #c0c0c0;
}
.HeaderStyle a
{
    text-decoration:none;
    color:#333;
    display:block;
    text-align:left;
    font-weight:normal;
}
.PagerStyle table
{
    text-align:center;
    margin:auto;
}
.PagerStyle table td
{
    border:0px solid #c0c0c0;
    padding:5px;
}
.PagerStyle td
{
    border: #fafafa 0px solid;
}
.PagerStyle a
{
    color:#333;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border:1px solid #c0c0c0;
}
.PagerStyle span
{
    font-weight:bold;
    color:#333;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border:1px solid #c0c0c0;
    text-align:left;
}
.RowStyle td
{
    background-color:#f5f3f3;
    border:1px solid #c0c0c0;
}
.AltRowStyle td
{
    background-color: #fff;
}
.SelectedRowStyle td
{
    background-color:#fff;
}		


/*  */

#screenshot{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	text-align:center;
	z-index:1000;
	}

/*  */

/* PAGINATOR Flickr */
/*actual .PagesFlickr { text-align: center; margin-bottom: 20px; margin-top: 20px; }*/
.PagesFlickr {font-family:Arial, Helvetica, sans-serif; margin: 2px;}
.Paginator { font-size: 13px; padding-top: 10px; margin: 3px; /* padding-bottom: 10px;  background-image: url(http://l.yimg.com/g/images/dotted.gif); background-repeat: repeat-x; background-position: left bottom; */ }
.Paginator a, .pageList .this-page { padding: 2px 6px; border: solid 0px #ddd; font-size: 16px; background: #fff; text-decoration: none;  }
.Paginator a:visited { padding: 5px 6px; border: solid 0px #ddd; background: #eeeeee; text-decoration: none; }
.Paginator .AtStart { margin-right: 20px; padding: 2px 6px; /* border: solid 1px #ddd; */ background: #eeeeee; color: #aaa; }
.Paginator .Prev { margin-right: 20px; padding: 2px 6px; border: solid 0px #ddd; background: #eeeeee; }
.Paginator .break { padding: 2px 6px; border: none; background: #eeeeee; text-decoration: none; }
.Paginator .Next { margin-left: 20px; padding: 2px 6px; border: solid 0px #ddd; background: #eeeeee;}
.Paginator .AtEnd { margin-left: 20px; padding: 2px 8px; /* border: solid 1px #ddd; */ background: #eeeeee; color: #aaa; }
.Paginator .this-page {padding: 2px 6px; border-color: #999; font-weight: bold; font-size: 16px; vertical-align: top; background: #fff; text-decoration:underline; }
.Paginator a:hover {color: #eeeeee; background: #0063DC; border-color: #036; text-decoration: none;}
/* 
.Paginator .ranking {display: block; margin-top: 0.5em; font-weight: bold;}
.Paginator .ranking a {padding: 0; border: 0; background: transparent;} 
*/
.Pages div.Results { text-align: center; font: 13px/16px Arial, Helvetica; color: #aaa; margin-top: 8px; }   