/**
BAOMOI.COM Responsive Addon
Version: 1.04 
Update:
 - target only webkit-base
 - fix font size difference for meta
 - adjust background for featured article in cate page
 - adjust menu height
 - adjust spacing between meta and title in featured article
 - adjust line-height of title in featured article
 - fix alignment of rss button in category page
 - adjust border weight of banner (thinner, and less gray)
*/

/* Chrome v39 fixes */
#navigation>li, .userlinks, .keywords a, .interacts li, .columnMore li {
	white-space: nowrap;
}
/* /Chrome v39 fixes */

#CTTCPContainer {
    border-right: 0;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    overflow: hidden;
}

#CTTCPContainer iframe {
    margin-bottom: 10px;
}

#HoroscopeContainer {
    display: none;
}

#PetroTimesContainer {
    border: 1px solid #ddd;
    border-top: 0;
    margin-bottom: 10px;margin-top: 10px;
    overflow: hidden;
    width: 300px;
}

#PetroTimesContainer iframe {
    width: 300px ;
}

#RightBanner2 {
    margin-bottom: 15px;
}

#TopRightBanner1 {
    margin-bottom: 5px;
}
.story .meta {font-size:11px;}

.mobiletest-div {
    display: none;
}


@media screen and (min-width: 0) and (-webkit-min-device-pixel-ratio:0) {
  .moretop {
    border: 1px solid #CF8181  !important;
    text-align: center;
    padding: 2px 0 !important;
    font-size: 10px !important;
    font-weight: bold;
    text-transform: uppercase;    
  }
  .moretop a:hover {
    color:#C00 !important;
  }
  #baomoi_navigation {    
    height: 50px;        
  }
  #navigation li.current span a {background:#006D91;}
  .storyblock-hdr h2 a {    
    color: #0099CB !important;
  }
  .editorspick .storyblock-hdr h2 a {    
    color: #333333 !important;
  }
  #navigation li span a {    
    padding:  10px 7px 0 7px  !important;
    text-transform: uppercase;    
    font-size: 1.2em; 
    height:20px;
  }
  #navigation li#home {    
    padding-top: 0;
  }
  #navigation li#home span a {    
    text-indent: 0;    
    width: auto;    
    height: 20px;    
    background: #008FBE;    
    padding:  10px 8px 0 8px  !important;
  }
  #navigation li#home span a:hover {    
    background-image: none;    
    background-color: #0085B1;    
    text-indent: 0;    
    padding: 10px 8px 0 8px !important;
    width:auto; height:20px;
  }
  #topTags {    
    border: 1px solid #eee;    
    border-bottom: 0;    
    border-top: 0;    
    margin-top: 10px;    
    width: 135px;
  }
  #topTags h4 {    
    background: #fafafa;    
    margin-bottom: 0;    
    padding: 10px 10px 8px;
  }
  .editorspick {    
    background: #fafafa;    
    -webkit-box-shadow: 0px 3px 5px -4px #DDD;
    box-shadow: 0px 3px 5px -4px #DDD;    
    padding-bottom: 10px;    
    margin-bottom: 20px; margin-top:25px;   
    border: 1px solid #CCB6B1;    
    border-top: 0;
  }
  .editorspick .featured .title {    
    line-height: 1.3em;    
    margin-bottom: 10px;
  }
  .editorspick .storyblock {    
    padding: 0 10px;
  }
  .editorspick .storyblock .featured {    
    margin-right: 8px;    
    width: 296px;
  }
  .editorspick .storyblock .latest .title {    
    max-height: 2.6em;    
    overflow: hidden;
  }
  .editorspick .storyblock .latest {    
    width: 125px;
  }
  .editorspick .storyblock .top {    
    margin-right: 8px;    
    padding-left: 8px;    
    padding-right: 8px;
  }
  .editorspick .storyblock-hdr {    
    padding-left: 10px;
  }
  .expand .storyblock .latest {    
    width: 140px;
  }
  .expand .storyblock .top {    
    border-right: 1px solid #eee;    
    margin-right: 10px;    
    padding-right: 8px;
  }
  .frontpage .featured .title {    
    line-height: 1.1em;    
    font-size: 2em;
  }
  .frontpage .featured .thumb {    
    height: 200px;    
    overflow: hidden;
  }
  .itemlisting li {    
    margin: 0;    
    padding-top: 6px;    
    overflow: hidden; 
    text-overflow: ellipsis;    
    white-space: nowrap;
  }
  .itemlisting li a {    
    font-size: 12px;    
    padding: 5px 10px;
  }
  .itemlisting li:nth-child(n+19) {    
    display: none;
  }
  .story .summary {    
    line-height: 1.3;
  }
  .frontpage .story .summary {    
    height: 3.9em;
  }
  .storyblock .featured .title {    
    margin-bottom: 5px;
  }
  .topads {    
    /*
    background: #f1f1f1;    
	margin-top: -20px;    
    padding: 7px 0 4px;    
	*/
	margin-top: -8px;
    width: 100%;
  }
  .topads iframe {
	vertical-align: top;
  }
  .zoneads {        
    margin-bottom: 24px !important;    
    overflow: hidden;
  }
  .zoneads .z2-zads-zone {    
    background: none;
  }
  .expand .featured {    
    background: #eee;    
    padding-bottom: 5px;
  }
  .expand .storyblock .featured .title {    
    margin: 10px 10px 6px 10px;
    line-height:1.2;
  }
  .expand .storyblock .featured .meta {    
    margin: 5px 10px 5px;    
    display: block;
  }
  .storyblock .featured .meta {    
    font-size: 11px;
  }
  .expand .storyblock .featured .summary {    
    margin: 0px 10px 10px;
  }
  .expand .storyblock .featured .thumb {    
    height: 180px;    
    overflow: hidden;
  }
  .storyblock-hdr {    
    -webkit-box-shadow: 0 2px 2px -2px #CCC;
    box-shadow: 0 2px 2px -2px #CCC;    
    border-bottom: 0;
  }
  .expand .storyblock-hdr {    
    margin-bottom: 5px;
  }
  .compact .top .title {    
    max-height: 3.6em;    
    overflow: hidden;
  }
  .storyblock-hdr h2 a,.storyblock-hdr h2 {    
    color: #0282AC;
  }
  .editorspick .storyblock-hdr h2 a {    
    color: #BF2700;
  }
  .storyblock .title {    
    font-weight: bold;
  }
  .article-relatives h4, .article-relatives h2 {    
    padding-top: 10px;    
    font-size: 1.1em;
  }
  .article-relatives .itemlisting li {    
    padding: 3px;
  }
  .article-relatives .itemlisting li a {    
    padding: 3px 0;
  }
  .article-relatives .story .title {    
    font-weight: bold;
  }
  .article-relatives .thumb {    
    margin-bottom: 5px;
  }
  .moretop {    
    line-height: 1.4em;
  }
  .story-header h1 {    
    font-size: 3em;    
    letter-spacing: -1px;    
    margin-bottom: 10px;
  }
  .social-buttons {    
    border: 0;
  }
  .latest-articles {    
    padding: 10px;    
    border: 5px solid #eee;
  }
  .latest-articles h3 {    
    border-bottom: 1px solid #ddd;    
    padding-bottom: 10px;
  }
  .latest-articles li {    
    font-weight: bold;
  }
  .zonetab .button a {
    box-shadow: none;
  }
  .breadcrums {    
    background: #f0f0f0;    
    color: #6A8997;    
    padding: 7px 5px 5px;    
    font-size:1em; font-weight: normal;    
    letter-spacing: 0;    
    text-transform: uppercase;    
    border: 0;
  }
  .breadcrums:only-child span.clickable {    
    top: 5px; margin-right:6px;
  }
  .breadcrums a {    
    color: #6A8997 !important;    
    font-weight: bold;
  }
  .category-front .latest .story {    
    background: #f7f7f7;    
    border-bottom: 0;    
    margin-bottom: 8px;
  }
  .category-front .latest .story .meta,.category-front .latest .story .title {    
    padding: 0 5px;
  }
  .category-front .cate-featured .featured .title {    
    font-size: 2.4em;    
    letter-spacing: -1px;
  }
  .category-front .featured .story {    
    border: 0;    
    padding: 0;
  }
  .category-front .cate-featured .featured {    
    background: #eee;    
    margin-bottom: 10px;        
  }
  .category-front .cate-featured .featured a {    
    
  }
  .category-front .top {float:left; margin-top:10px;}
  .category-front .cate-featured .featured .story .title,.category-front .cate-featured .featured .story .meta,.category-front .cate-featured .featured .story .summary {    
    padding: 0 10px;    
    
  }
  .cate-listing .noavatar:before {    
    content: 'Không có ảnh';    
    display: block;    
    width: 226px; height: 150px;    
    background: #f7f7f7;    
    font-size: 1.2em; line-height: 150px; text-align: center; text-transform: uppercase; color: #ccc; 
    float: left;    
    margin-right: 15px;
  }
  .cate-listing {border: 0;}
  .popular .story {    
    padding-bottom: 10px;    
    margin-bottom: 10px;    
    border-bottom: 1px solid #f7f7f7;
  }
  #moreStories {    
    border: 5px solid #eee;    
    padding: 15px;    
    margin-bottom: 10px;
  }
  #moreStories h2 {    
    border-bottom: 1px solid #eee;    
    padding-bottom: 10px;    
    text-transform: uppercase;color: #9F0101;    
    margin-bottom: 10px;
  }
  #moreStories .title {    
    font-weight: bold; font-size: 1.2em;
  }
  .story-header .interacts, .article-header .interacts {    
    background: #fff;    
    padding: 0px 0 0px 5px;    
    top: -1px;    
  }
  .story-header .interacts li, .article-header .interacts li {    
    box-shadow: none;-webkit-box-shadow: none;    
    padding:4px 5px 2px;
  }
}

/*
@media screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio:0) {
  .footbar .backtop {display:none !important;}
  .footbar .search {width:100%;}
  .zoneblock {overflow: hidden; }
  .sidebar,.siteinfo,.userlinks { display: none !important; }
  .topads,#ads_zone410,.mobiletest-div { display: none;}
  #navigation {overflow: hidden;}
  #maincontents {width: 100%;}
  #frontpage .storyblock .featured,.editorspick .storyblock .featured {    
    width: 50%;    
    margin-right: 2%;
  }
  #frontpage .storyblock .top,.editorspick .storyblock .top {    
    width: 23%;    
    margin-right: 2% !important;    
    padding: 0;
  }
  #frontpage .storyblock .latest { width: 23% !important; }
  .editorspick .storyblock .latest {width:21% !important;}
  .editorspick .storyblock .featured {    
    width: 49% !important;
  }
  .editorspick .storyblock {    
    padding-right: 0;
  }
  .thumb img {    
    width: 100%; height:auto;
  }
  .wrap-zone .compact {    
    width: 49%;    
    margin-right: 2%;
  }
  .wrap-zone .expand {    
    width: 49%;
  }
  .zoneblock .storyblock .top {    
    width: 50%;    
    margin-right: 2%;
  }
  .zoneblock .storyblock .latest {    
    width: 46%;    
    margin-left: 2%;
  }
  .expand .zoneblock .storyblock .top {    
    width: 50%;    
    padding-right: 2%;
  }
  .expand .zoneblock .storyblock .featured {    
    width: 100%;
  }
  .expand .zoneblock .storyblock .latest {    
    width: 43%;    
    margin-left: 0;
  }
  #header .search {    
    right: 0;    
    left: auto;
  }
  #footer {    
    padding-top: 20px;
  }
  .poweredby {    
    top: -5px;
  }
  .search select {    
    display: none;
  }
  .wrap-contents,#navigation,#header,#footer,.footbar {    
    width: 94%;    
    margin: 0 3%;
  }
  .story-header .interacts, .article-header .interacts {
    display:none;
  }
  .story-body {
    width:75%; margin-right:2%;
  }
  .article-relatives {
    width:23%; 
  }
  .social-buttons {display:none;}
  storyInlinePhoto {display:block; width:100%;}
  .storyInlinePhoto img {width:100% !important; height:auto; max-width: none}
  .fb_iframe_widget {width:100%;}
  .fb_iframe_widget span {width:100% !important;}
  .fb_iframe_widget iframe {width:100% !important;}
  .category-front .latest {width:23%; margin-right: 2%;}
  .category-front .cate-featured {width:48%; margin-right:2%;}
  .category-front .cate-featured .featured {width:100%; margin-right:0; margin-bottom:20px;}
  .category-front .popular {width:23%;margin:0;}
  .category-front .top {width:100%; float:left; clear:both;}

}

@media screen and (max-width: 620px) and (-webkit-min-device-pixel-ratio:0) {
  .article-relatives{display:none;}
  .story-body {width:100%; margin-right:0;}
}
*/